---

description: list of project including class generator GUI from database tables

---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}

  <body>

    {% include header.html %}
   
    <div class="row">
      <div class="home-page">
        <img src="/assets/Images/Home/home.png"/>
      </div>
    </div>

      <div class="row">
          <div class="main index-padding-top">
            <div class="wrapper">
            <h1 class="style-walles-header"> Services </h1>
          <div id="links">
            <div class="first-row">
              <div class="Euro-style style">
                  <img src="/assets/Images/Services/Edited/BuilderW.png">
              <h4 class="align-center"> Builder Waste</h4>
            </div>
            <div class="high-top style">
                  <img src="/assets/Images/Services/Edited/house-clearance.png">
              <h4 class="align-center"> House Clearance</h4>
            </div>
            <div class="high-fade style">
                  <img src="/assets/Images/Services/Edited/officeC.png">
              <h4 class="align-center"> Office Clearance</h4>
            </div>
          </div>
          </div>
        </div>
          </div>
      </div>
      <div class="row">
        <div class="main index-padding-top">
          <div class="wrapper">
          <h1 class="style-walles-header"> Our coverage </h1>
        <div class="coverage-section">
          <div class="first-row">
            <div class="coverage">
              <div class="east-london ">
                  <h2>Rubish Removals East London</h2>
                  <h4 class=""> Our services are Generally across all london. 
                    We offer rubbish removals that will come to your location in East London.
                  
                  </h4>
              </div>
              <div class="south-london">
                <h2>Rubish Removals South London</h2>
                <h4 class=""> Our team will be able to vist your exact location and they will ensure a healthy environment for you and 
                  completetly clean your space with no rubbish left there..
                </h4>
              </div>
          </div>
          
        </div>
        <div class="first-row">
          <div class="coverage">
            <div class="West-london">
              <h2>Rubish Removals West London</h2>
              <h4 class=""> We always make sure our team is profossional and all you need to do is show our team the clutter, when they visit.
              </h4>
          </div>
          <div class="North-london">
            <h2>Rubish Removals North London</h2>
            <h4 class=""> We always offer a well balanced rubbish removal service. All our services are designed to serve the high quality standards.
            </h4>
          </div>
        </div>
      
       
      </div>
        </div>
      </div>
        </div>
    </div>
      
   
       

   {% include footer.html %}

  </body>
</html>






